.carousel-custom {
    display: flex;
    position: relative;
    justify-content: space-between;
    margin: 0;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-color: transparent transparent;
    scrollbar-width: none
}

.carousel-custom::-webkit-scrollbar {
    width: 0
}

.carousel-custom::-webkit-scrollbar-track {
    background: transparent
}

.carousel-custom::-webkit-scrollbar-thumb {
    background: transparent;
    border: none
}

.carousel-custom {
    -ms-overflow-style: none
}

.carousel-custom.dragging .carousel-custom__slide {
    cursor: grab
}

.carousel-custom__slide {
    width: 100%;
    flex: 1 0 100%;
    scroll-snap-stop:normal}

.carousel-custom__btn {
    position: absolute;
    border: 1px solid #d3d4dd;
    cursor: pointer;
    z-index: 2;
    width: 40px;
    height: 40px;
    min-height: 30px;
    border-radius: 50%;
    font-size: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: .3s;
    top: -24px;
    bottom: 0;
    margin: auto
}

.carousel-custom__btn:hover {
    background: #fff
}

.carousel-custom__btn.disabled {
    display: none
}

.carousel-custom__btn .ico {
    position: absolute;
    left: -2px;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 18px;
    height: 18px;
    color: #346df1
}

.carousel-custom__btn-next {
    right: -60px
}

.carousel-custom__btn-next .ico {
    left: 0;
    right: -2px;
    transform: rotate(-180deg)
}

.carousel-custom__btn-prev {
    left: -60px
}

.carousel-custom__dots {
    display: flex;
    align-items: center;
    justify-content: center
}

.carousel-custom__dots-item {
    cursor: pointer;
    display: flex;
    position: relative;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 1px solid #346df1;
    margin-right: 12px;
    transition: .3s
}

.carousel-custom__dots-item:last-of-type {
    margin-right: 0
}

.carousel-custom__dots-item:after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 0;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #346df1;
    transition: 1s
}

.carousel-custom__dots-item.active:after {
    opacity: 1
}

.index-page .section-news .container {
    padding-top: 47px;
    padding-bottom: 0
}

.section-news .container {
    position: relative
}

.section-news .page-title {
    margin: 10px 0 40px
}

.section-news .try-block {
    padding-top: 56px;
    padding-bottom: 47px
}

.section-news .try-block a {
    text-decoration: underline
}

.section-news-wrapper {
    position: relative
}

.section-news-slider {
    overflow-x: hidden;
    overflow-y: visible;
    position: relative;
    padding: 0 10px;
    margin: 0 -15px
}

.section-news-items {
    display: flex;
    position: relative;
    justify-content: space-between;
    padding-bottom: 24px
}

.section-news .news {
    margin: 0 0 0 -34px;
    padding: 0 24px
}

.section-news .white-box {
    position: relative;
    padding: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1 0 330px;
    min-height: 169px;
    box-shadow: 0 15px 10px rgba(0,0,0,.05);
    border-radius: 4px;
    border: none;
    cursor: pointer;
    margin: 0 12px;
    scroll-snap-align: center;
    scroll-snap-stop:always;user-select: none
}

.section-news .white-box:hover {
    box-shadow: 0 15px 15px rgba(0,0,0,.08)
}

.section-news .white-box:hover .section-news-title {
    text-decoration: underline
}

.section-news .white-box:hover .section-news-title:hover {
    color: #346df1
}

.section-news .description {
    margin-top: 9px
}

.section-news .description,.section-news time {
    font-weight: 300;
    font-size: 13px;
    line-height: 15px;
    color: #7a7492
}

.section-news time a,.section-news time a:hover {
    color: #7a7492
}

.section-news-title {
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    margin: 0 0 9px
}

.section-news-title .ico {
    color: #ccc;
    margin-left: 6px;
    width: 15px;
    height: 24px;
    top: -1px
}

.section-news-bottom {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-top: 18px
}

.section-news-bottom time {
    display: block;
    flex-shrink: 0;
    padding-right: 10px
}

.section-news-bottom div {
    align-items: center;
    display: flex;
    flex: 1 1 auto;
    justify-content: flex-end;
    height: 30px
}

.section-news-bottom img {
    width: 32px;
    height: 32px;
    overflow: hidden;
    object-fit: contain
}

.section-news .try-block {
    padding-top: 8px
}

.section-news .try-block a {
    font-size: 17px;
    font-weight: 500
}

.section-news .try-block .arr {
    position: absolute;
    margin-left: 7px;
    display: inline-block;
    vertical-align: middle;
    width: 12px;
    height: 2px;
    background: currentColor;
    position: relative
}

.section-news .try-block .arr,.section-news .try-block .arr:after,.section-news .try-block .arr:before {
    height: 2px;
    background: currentColor;
    border-radius: 2px
}

.section-news .try-block .arr:after,.section-news .try-block .arr:before {
    content: "";
    width: 6px;
    position: absolute;
    right: 0
}

.section-news .try-block .arr:after {
    transform: rotate(45deg);
    bottom: 2px
}

.section-news .try-block .arr:before {
    transform: rotate(-45deg);
    top: 2px
}

@media(max-width: 1300px) {
    .section-news-items {
        flex-wrap:wrap;
        gap: 24px
    }

    .section-news .white-box {
        min-width: 0;
        width: 49%;
        padding: 12px;
        margin: 0
    }

    .section-news .arrow {
        display: none
    }

    .section-news .section-news-slider {
        margin: 0;
        padding: 0
    }
}

@media(max-width: 1119px) {
    .section-news {
        background:#f1f1f1
    }

    .section-news .container {
        overflow: hidden
    }

    .section-news-title {
        font-size: 16px;
        line-height: 22px;
        margin: 3px 0
    }

    .index-page .section-news .container {
        padding: 38px 60px 0
    }
}

@media only screen and (max-width: 767px) {
    .section-news .section-news-items {
        padding-bottom:0
    }

    .index-page .section-news .container {
        padding: 47px 16px 0
    }

    .section-news .page-title {
        margin: 0 0 24px
    }

    .section-news-items {
        margin-right: 0;
        gap: 16px
    }

    .section-news .white-box {
        min-height: auto;
        width: 100%;
        margin: 0
    }

    .section-news time {
        margin-top: 8px
    }

    .section-news .try-block {
        padding: 38px 28px;
        margin-bottom: 14px
    }

    .section-news-bottom {
        display: flex
    }

    .section-news-bottom div {
        height: 30px;
        margin-top: 0;
        justify-content: flex-end
    }
}

.about-page .section-news-items {
    justify-content: flex-start
}

@media(max-width: 1300px) {
    .about-page .section-news-items {
        justify-content:space-between
    }
}

.about-page .try-block {
    padding-bottom: 20px
}

.about-page .main-section {
    overflow: hidden
}

.about-page .main-section__wrap {
    max-width: 674px
}

.about-page .main-section-subtitle {
    margin: 0 0 57px
}

.about-page .main-section .ico {
    color: #346df1;
    margin: 0 0 23px
}

.about-page .main-section ul {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 34px
}

.about-page .main-section ul p {
    font-weight: 300
}

@media only screen and (min-width: 425px)and (max-width:768px) {
    .about-page .main-section ul {
        display:flex;
        margin-bottom: 10px
    }

    .about-page .main-section ul li {
        width: 50%;
        padding-right: 32px
    }
}

.about-page .main-section strong {
    display: block;
    margin: 0 0 8px;
    color: #000b15
}

.about-page .main-section .illustrate-hero {
    background-repeat: no-repeat;
    position: absolute;
    height: 598px;
    width: 445px;
    background-size: 445px;
    max-width: 70%;
    left: 680px;
    right: auto;
    bottom: -69px
}

.about-page .main-section .illustrate-hero.lazyload {
    background-image: url(/storage/images_web/magnifier.png)
}

@media(-webkit-min-device-pixel-ratio: 2),(min-resolution:2dppx) {
    .about-page .main-section .illustrate-hero.lazyload {
        background-image:url(/storage/images_web/magnifier@2x.png)
    }
}

@media(-webkit-min-device-pixel-ratio: 3),(min-resolution:3dppx) {
    .about-page .main-section .illustrate-hero.lazyload {
        background-image:url(/storage/images_web/magnifier@3x.png)
    }
}

@media(-webkit-min-device-pixel-ratio: 4),(min-resolution:4dppx) {
    .about-page .main-section .illustrate-hero.lazyload {
        background-image:url(/storage/images_web/magnifier@4x.png)
    }
}

.about-page .big-title {
    font-weight: 500;
    font-size: 48px;
    line-height: 64px
}

.about-page img {
    max-width: 100%
}

.about-page .lazyload {
    opacity: 0;
    transition: opacity .4s
}

.about-page .lazyload {
    height: auto;
    opacity: 1;
    transition: opacity .4s
}

.about-page .text-block p {
    font-size: 18px;
    line-height: 28px;
    font-weight: 300;
    margin-bottom: 12px;
    max-width: 872px
}

.about-page .text-block .page-title-h2 {
    font-size: 32px;
    line-height: 49px;
    margin: 0 0 48px
}

.about-page .box-white {
    margin: 0 0 96px;
    box-shadow: 0 8px 16px rgba(48,71,88,.16);
    background: #fff
}

.about-page .box-white p {
    margin: 16px 0
}

.about-page .box-white .description {
    margin-top: 46px;
    font-size: 18px;
    line-height: 22px
}

.about-page .comment-master img {
    object-fit: cover;
    object-position: left top
}

.about-page .comment-master img,.about-page .first-text-block img {
    font-family: "object-fit: cover;"
}

.about-page .first-text-block .img-cols-block img.lazyload {
    width: 476px;
    max-width: 100%
}

.about-page .comment-alt img {
    min-width: 48px
}

.about-page .comment-alt .page-title {
    font-size: 64px;
    line-height: 72px
}

.about-page .comment-alt .tag {
    margin-bottom: 4px
}

.about-page .advanteges-cols .title {
    font-size: 22px;
    line-height: 26px;
    color: #000b15;
    margin: 40px 0 16px
}

.about-page .advanteges-cols ul {
    margin: 0 0 45px;
    text-align: left
}

.about-page .advanteges-cols li {
    box-sizing: content-box
}

.about-page .advanteges-cols p {
    font-weight: 300;
    font-size: 16px;
    line-height: 24px
}

.about-page .advanteges-cols img {
    background: #fff;
    margin-top: 48px;
    box-shadow: 0 8px 16px rgba(48,71,88,.16)
}

.about-page .advanteges-cols .cols-three {
    flex-wrap: wrap
}

.about-page .advanteges-cols .cols-three>* {
    width: calc(33.33% - 32px);
    box-sizing: border-box;
    padding-right: 0
}

.about-page .advanteges-cols .has-arr {
    margin-left: -16px
}

.about-page .has-arr {
    text-decoration: underline
}

.about-page .author {
    font-size: 16px;
    line-height: 22px;
    margin: 18px 0 0;
    justify-content: flex-start;
    align-items: flex-start;
    color: #666
}

.about-page .author img {
    vertical-align: top;
    margin: -2px 16px 16px 0;
    overflow: hidden;
    border-radius: 50%
}

.about-page .author .description {
    color: #aaa
}

.about-page .seporate-cols {
    margin-bottom: 80px
}

.about-page .seporate-cols>div {
    width: calc(50% - 33px)
}

.about-page .tag {
    vertical-align: top;
    display: inline-block;
    padding: 5px 8px 4px;
    background: #346df1;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    line-height: 15px
}

.about-page section img {
    max-width: 100%
}

.about-page section img.lazyload {
    height: auto
}

.about-page .about-team-block .img-cols-block {
    min-height: auto
}

.about-page .about-team-block img {
    object-fit: cover;
    object-position: 70% center;
    font-family: "object-fit: cover;";
    max-width: 100%
}

.about-page .about-team-block ul {
    margin: 0 0 24px
}

.about-page .about-team-block ul li:last-child {
    margin-bottom: 0
}

.about-page .about-team-block .page-title-h2 {
    margin-bottom: 64px
}

.about-page section .about-team-block img.lazyload {
    height: 100%
}

.about-page .news-block .page-title-h3 {
    margin-top: 12px;
    margin-bottom: 40px
}

.about-page .news-block .box-white {
    margin: 0 0 40px;
    width: calc(50% - 20px)
}

.about-page .news-block a {
    position: relative;
    display: block;
    padding: 16px 16px 58px;
    min-height: 168px;
    height: 100%;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    transition: box-shadow .2s ease-out
}

.about-page .news-block a:hover {
    color: #346df1;
    text-decoration: none;
    box-shadow: 0 8px 16px rgba(48,71,88,.16)
}

.about-page .news-block img {
    position: absolute;
    left: 16px;
    bottom: 16px;
    max-height: 32px
}

.about-page .news-block .ico {
    position: absolute;
    width: 20px;
    height: 20px;
    right: 20px;
    bottom: 22px;
    color: #ccc
}

.about-page .about-info-block p {
    margin-left: auto;
    margin-right: auto
}

.about-page .about-info-block img {
    margin: 96px -1px 0;
    max-width: calc(100% + 2px)
}

@media(min-width: 1120px) {
    .about-page .main-section .container {
        padding-left:48px
    }

    .about-page .main-section h1 {
        margin-bottom: 18px
    }

    .about-page .main-section-subtitle {
        font-size: 18px;
        max-width: 590px
    }
}

@media only screen and (min-width: 768px) {
    .about-page .comment-alt .cols-two {
        flex-wrap:nowrap
    }

    .about-page .comment-alt .left-part {
        width: 330px
    }

    .about-page .comment-alt .right-part {
        width: calc(100% - 370px)
    }

    .about-page .comment-alt .author {
        display: block
    }

    .about-page .comment-alt .page-title {
        margin-bottom: 54px
    }

    .about-page .comment-alt .quoted,.about-page .comment-alt .quoted:after {
        margin-bottom: 0
    }

    .about-page .cols-alt .left-part {
        width: 33.3333%;
        padding-right: 42px
    }

    .about-page .cols-alt .right-part {
        width: 66.6666%
    }

    .about-page .img-cols-block .has-arr {
        width: fit-content;
        line-height: 21px;
        margin-bottom: 4px
    }

    .about-page .first-text-block .img-cols-block {
        height: 402px
    }

    .about-page .first-text-block .img-cols-block-img {
        width: auto
    }

    .about-page .img-cols-block-img img {
        width: 100%;
        image-rendering: -webkit-optimize-contrast;
        font-family: "object-fit: cover;"
    }

    .about-page .about-team-block .has-arr {
        margin-left: 32px
    }

    .about-page .main-section-subtitle {
        line-height: 26px
    }
}

@media(min-width: 768px)and (max-width:1119px) {
    .about-page .first-text-block .img-cols-block-img {
        width:50%;
        overflow: hidden
    }

    .about-page .first-text-block .img-cols-block {
        padding-right: calc(50% + 24px)
    }

    .about-page .first-text-block .img-cols-block img.lazyload {
        max-width: inherit
    }

    .about-page .first-text-block .img-fader:after {
        left: auto;
        right: 0;
        width: 50%;
        height: 100%;
        background: linear-gradient(90deg,hsla(0,0%,97.6%,0),#f9f9f9)
    }
}

@media(max-width: 1119px) {
    .about-page .page-title-h3 {
        font-size:24px;
        line-height: 32px
    }

    .about-page .author img {
        height: auto
    }
}

@media only screen and (max-width: 767px) {
    .about-page .main-section .container {
        padding-top:40px
    }

    .about-page .main-section-subtitle {
        font-weight: 300;
        margin-bottom: 40px;
        font-size: 13px
    }

    .about-page .main-section .ico {
        height: 48px;
        width: 48px;
        margin: 0 0 16px
    }

    .about-page .main-section strong {
        font-size: 40px;
        line-height: 40px
    }

    .about-page .main-section .illustrate-hero {
        display: none
    }

    .about-page .author img {
        width: 32px
    }

    .about-page section .container.has-padding,.about-page section .container.has-padding-l {
        padding-top: 40px;
        padding-bottom: 40px
    }

    .about-page section .container .page-title-h3:first-child {
        margin-top: 0
    }

    .about-page h1 {
        margin-bottom: 16px
    }

    .about-page .page-title-h2 {
        margin-bottom: 48px
    }

    .about-page .page-title-h3 {
        margin: 16px 0;
        font-size: 18px;
        line-height: 26px
    }

    .about-page .section-news .page-title-h3 {
        margin-bottom: 24px
    }

    .about-page .text-block p {
        font-weight: 300;
        font-size: 13px;
        line-height: 20px
    }

    .about-page .text-block p:last-child {
        margin-bottom: 0
    }

    .about-page .text-block .page-title-h2 {
        font-size: 18px;
        line-height: 26px;
        margin: 0 0 24px
    }

    .about-page .img-cols-block {
        text-align: center
    }

    .about-page .img-cols-block .page-title-h3 {
        text-align: left
    }

    .about-page img.show-mobile {
        margin-left: auto;
        margin-right: auto
    }

    .about-page .about-info-block .text-align-c {
        text-align: left
    }

    .about-page .about-info-block img {
        margin-top: 32px;
        width: 100%
    }

    .about-page .box-white {
        margin: -16px -16px 24px
    }

    .about-page .box-white .description {
        font-size: 14px;
        line-height: 22px;
        margin-top: 16px
    }

    .about-page .box-white+.seporate-cols {
        margin-top: 56px;
        margin-bottom: 24px
    }

    .about-page .tag {
        font-size: 12px;
        line-height: 12px;
        padding: 2px 4px
    }

    .about-page .author {
        margin: 10px 0 0;
        font-size: 14px;
        line-height: 18px
    }

    .about-page .author img {
        margin-top: 0
    }

    .about-page .comment-master img {
        width: 100%;
        max-height: 425px
    }

    .about-page .seporate-cols .comment-text-block+.comment-text-block {
        margin-top: 32px
    }

    .about-page .comment-alt {
        text-align: center
    }

    .about-page .comment-alt .author {
        display: block;
        margin-bottom: 32px
    }

    .about-page .comment-alt img {
        margin-right: 0;
        margin-top: 20px
    }

    .about-page .comment-alt .page-title {
        font-size: 24px;
        line-height: 32px
    }

    .about-page .comment-alt .quoted {
        margin-top: 13px;
        text-align: left
    }

    .about-page .comment-alt .quoted:after {
        margin: 8px 0
    }

    .about-page .advanteges-cols .cols-three>* {
        width: calc(50% - 32px)
    }

    .about-page .advanteges-cols .page-title-h2 {
        margin-bottom: 32px;
        text-align: left
    }

    .about-page .advanteges-cols .title {
        font-size: 14px;
        line-height: 20px;
        margin: 24px 0 8px
    }

    .about-page .advanteges-cols ul {
        margin: 0 0 16px
    }

    .about-page .advanteges-cols li {
        margin-bottom: 40px
    }

    .about-page .advanteges-cols p {
        font-size: 13px;
        line-height: 22px
    }

    .about-page .advanteges-cols img {
        width: 306px;
        margin-left: 0;
        margin-top: 0
    }

    .about-page .about-team-block ul {
        text-align: left
    }

    .about-page .about-team-block ul li:last-child {
        margin-bottom: 0
    }

    .about-page .about-team-block .img-cols-block-img {
        margin-top: 32px;
        margin-bottom: 27px
    }

    .about-page section .about-team-block img.lazyload {
        height: 480px;
        max-height: 72vw
    }

    .about-page section .has-arr {
        margin-left: -20px
    }

    .about-page .news-block .page-title-h3 {
        margin-bottom: 24px
    }

    .about-page .news-block .cols-two {
        display: block
    }

    .about-page .news-block .cols-two li {
        width: 100%;
        margin-bottom: 16px
    }

    .about-page .news-block a {
        font-size: 16px;
        line-height: 22px;
        min-height: 128px;
        padding-bottom: 72px
    }

    .about-page .cols-three>div,.about-page .cols-two>div {
        width: 100%
    }

    .about-page .box-img {
        height: 320px
    }
}

@media only screen and (min-width: 425px)and (max-width:768px) {
    .about-page .main-section ul p {
        max-width:220px
    }
}

@media only screen and (max-width: 424px) {
    .about-page .advanteges-cols img {
        width:100%;
        max-width: inherit
    }

    .about-page .advanteges-cols .cols-three>* {
        width: 100%
    }

    .about-page .main-section li+li {
        margin: 40px 0 0
    }

    .about-page .about-team-block ul {
        margin-bottom: 32px
    }
}
