.gasket {
    position: relative
}

.gasket .listname {
    font-weight: 700;
    font-size: 36px;
    line-height: 50px;
    color: #000b15
}

.gasket .listname span {
    position: absolute;
    left: -80px;
    top: 3px;
    color: #fff;
    background: #346df1;
    border-radius: 21px;
    height: 42px;
    width: 42px;
    font-weight: 500;
    font-size: 28px;
    line-height: 43px;
    text-align: center
}

.gasket .features-list {
    display: flex;
    justify-content: space-between;
    padding: 0;
    flex-wrap: wrap;
    color: #000b15;
    font-size: 16px;
    line-height: 20px
}

@media(min-width: 768px)and (max-width:1119px) {
    .gasket .features-list {
        justify-content:flex-start
    }

    .gasket .features-list .feature-block:nth-child(3n) {
        margin-right: 0
    }

    .gasket .features-list .feature-block:nth-child(n+4) {
        margin-bottom: 0
    }
}

@media only screen and (max-width: 767px) {
    .gasket .features-list {
        font-size:14px;
        justify-content: flex-start
    }

    .gasket .features-list .feature-block:nth-child(2n) {
        margin-right: 0
    }

    .gasket .features-list .feature-block.all {
        display: none
    }

    .gasket .features-list .feature-block.feature-block.mobile {
        width: 100%;
        padding: 0
    }

    .gasket .features-list .feature-block.feature-block.mobile a {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 0 24px
    }

    .gasket .features-list .feature-block.feature-block.mobile a span {
        display: inline-flex;
        padding: 26px 0
    }

    .gasket .features-list .feature-block.feature-block.mobile a i {
        display: inline-flex;
        margin: 0
    }
}

@media only screen and (min-width: 768px) {
    .gasket .features-list .feature-block.mobile {
        display:none
    }
}

.gasket .features-list .feature-block {
    transition: all .2s ease-out;
    width: 17%;
    list-style-type: none;
    display: inline-block;
    text-align: center;
    vertical-align: top;
    border-radius: 8px;
    padding: 0
}

.gasket .features-list .feature-block.linked:hover {
    box-shadow: 0 26px 54px rgba(0,0,0,.1)
}

.gasket .features-list .feature-block:last-child {
    margin-right: 0
}

@media(max-width: 1119px) {
    .gasket .features-list .feature-block {
        width:30%;
        margin-right: 5%;
        margin-bottom: 5%
    }
}

@media only screen and (max-width: 767px) {
    .gasket .features-list .feature-block {
        width:48%;
        margin-right: 4%;
        margin-bottom: 4%
    }
}

.gasket .features-list .feature-block .link {
    display: block;
    padding: 10px 0 24px
}

.gasket .features-list .feature-block .link.text {
    color: inherit
}

.gasket .features-list .feature-block .link.text:hover {
    text-decoration: none
}

.gasket .features-list .feature-block.mobile .link {
    padding: 10px 0 16px
}

.gasket .features-list .feature-block .ico {
    display: block;
    margin: 0 auto;
    color: #346df1
}

.gasket .features-list .feature-block .ico[data-ico=arrow_right] {
    width: 42px;
    height: 68px
}

@media only screen and (max-width: 767px) {
    .gasket .features-list .feature-block .ico {
        margin:10px auto
    }

    .gasket .features-list .feature-block .ico[data-ico=arrow_right] {
        width: 32px;
        height: 72px
    }
}

.gasket .features-list .feature-block .ico-xl {
    width: 68px;
    height: 68px
}

@media only screen and (max-width: 767px) {
    .gasket .features-list .feature-block .ico-xl {
        width:54px;
        height: 54px
    }
}

.gasket .faq-block {
    padding: 24px 30px;
    margin-top: 24px;
    transition: all .2s ease-out
}

@media(max-width: 459px) {
    .gasket .faq-block {
        padding:12px 30px 12px 16px;
        margin-top: 18px
    }
}

.gasket .faq-block:hover {
    box-shadow: 0 26px 54px rgba(0,0,0,.1)
}

.gasket .faq-block button {
    position: absolute;
    height: 25px;
    width: 25px;
    top: 50%;
    margin-top: -11px;
    right: 24px;
    transition: transform .3s ease
}

.gasket .faq-block button:after,.gasket .faq-block button:before {
    content: "";
    position: absolute;
    background: #346df1
}

.gasket .faq-block button:before {
    width: 24px;
    height: 2px;
    top: 11px;
    left: 0
}

.gasket .faq-block button:after {
    width: 2px;
    height: 24px;
    top: 0;
    left: 11px
}

.gasket .faq-block.open button {
    transform: rotate(45deg)
}

.gasket .faq-block.open .faq-answer {
    display: block
}

.gasket .faq-question {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #346df1;
    cursor: pointer;
    margin: -24px -30px;
    padding: 24px 100px 24px 30px;
    position: relative
}

.gasket .faq-answer {
    font-weight: 400;
    font-size: 15px;
    line-height: 23px;
    color: #000b15;
    margin-top: 18px;
    display: none
}

.gasket .faq-answer ul {
    padding-left: 16px
}

.gasket .faq-answer li {
    margin: 12px 0
}

@media(max-width: 1119px) {
    .gasket .faq-answer {
        margin-top:34px;
        line-height: 22px
    }
}

@media only screen and (max-width: 767px) {
    .gasket .faq-block {
        padding:24px 30px
    }

    .gasket .faq-block button {
        right: 18px
    }

    .gasket .faq-question {
        margin: -24px -30px;
        padding: 24px 64px 24px 30px;
        font-size: 16px;
        line-height: 19px
    }

    .gasket .faq-answer {
        width: auto;
        font-size: 13px;
        line-height: 18px;
        margin-top: 17px
    }
}

@media(max-width: 459px) {
    .gasket .faq-question {
        min-height:61px
    }

    .gasket .faq-question button {
        right: 32px
    }

    .gasket .faq-block {
        padding: 12px 16px
    }
}

.relink {
    margin: 70px auto 80px
}

.relink .title {
    font-weight: 500;
    font-size: 32px;
    line-height: 49px;
    color: #3e3467;
    margin-bottom: 50px
}

.relink__cols {
    display: flex;
    justify-content: space-between
}

.relink-item {
    width: calc(50% - 16px);
    border-radius: 8px;
    background: #fff;
    padding: 26px 32px 24px;
    color: #333;
    display: flex;
    align-items: flex-start;
    font-size: 16px;
    line-height: 24px
}

.relink-item img {
    margin-right: 32px
}

.relink-item>span {
    margin-top: -2px;
    width: 100%
}

.relink-item:hover {
    color: #333;
    text-decoration: none;
    box-shadow: 0 26px 54px rgba(0,0,0,.1)
}

.relink .big {
    color: #346df1;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    display: block;
    margin: 0 0 8px
}

@media only screen and (max-width: 1023px) {
    .relink .title {
        font-size:24px
    }

    .relink-item {
        font-size: 13px;
        line-height: 18px;
        margin: 0 0 18px;
        padding: 16px
    }

    .relink-item>span {
        margin-top: 0
    }

    .relink img {
        width: 40px;
        height: 40px;
        margin-right: 16px
    }

    .relink .big {
        font-size: 16px;
        line-height: 19px
    }

    .relink br {
        display: none
    }
}

@media only screen and (max-width: 767px) {
    .relink {
        margin-top:40px
    }

    .relink__cols {
        display: block
    }

    .relink .title {
        font-size: 20px;
        line-height: 49px;
        margin: 0 0 8px
    }

    .relink .cols-two {
        display: block
    }

    .relink-item {
        width: auto
    }
}

.examples-company {
    width: 100%;
    margin-top: 40px
}

.examples-company__title {
    color: #666;
    font-size: 14px;
    font-weight: 500;
    text-align: center
}

.examples-company__row {
    display: flex;
    gap: 8px;
    margin-top: 16px
}

.examples-company__item {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-radius: 8px;
    color: #346df1;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400
}

.examples-company__item:hover {
    color: #346df1
}

.examples-company__item.success {
    background-color: rgba(9,196,0,.1)
}

.examples-company__item.warning {
    background-color: rgba(248,178,0,.15)
}

.examples-company__item.danger {
    background-color: rgba(245,47,18,.1)
}

.examples-company__item .ico {
    width: 16px;
    height: 24px;
    margin: 16px;
    flex-shrink: 0
}

.examples-company__item .ico[data-ico=warning] {
    width: 18px
}

.examples-company__item .ico:hover+.examples-company__bbl {
    display: block
}

.examples-company__link {
    display: block;
    width: 100%;
    padding: 16px
}

.examples-company__bbl {
    display: none;
    position: absolute;
    top: -45px;
    right: 2px;
    max-width: 256px;
    background: #fff;
    box-shadow: 0 10px 20px rgba(0,0,0,.15);
    margin: -4px 0 0 -6px;
    padding: 16px;
    border-radius: 8px;
    color: #888;
    font-size: 12px;
    line-height: 18px;
    z-index: 2;
    opacity: 1
}

.examples-company__bbl:before {
    content: "";
    position: absolute;
    bottom: -10px;
    right: 12px;
    border-color: #fff transparent transparent;
    border-style: solid;
    border-width: 10px 10px 0
}

@media(max-width: 899px) {
    .examples-company {
        margin-top:24px
    }

    .examples-company__row {
        flex-direction: column
    }
}

.subscribe-box {
    column-gap: 40px;
    flex-wrap: wrap;
    background-color: #fff;
    border-radius: 8px;
    padding: 40px
}

.subscribe-box,.subscribe-box__prices {
    display: flex;
    justify-content: space-between
}

.subscribe-box__prices {
    flex-direction: column;
    width: calc(50% - 20px);
    text-align: center
}

.subscribe-box__price {
    font-size: 48px;
    line-height: 35px;
    color: #333;
    margin-bottom: 20px;
    padding-right: 20px;
    white-space: nowrap
}

.subscribe-box__price-description {
    margin-right: 4px;
    font-size: 16px;
    line-height: 22px;
    color: #666;
    margin-bottom: 20px;
    min-height: 64px
}

.subscribe-box__price-description:last-child {
    margin-left: 4px
}

.subscribe-box__sub-title {
    line-height: 17px;
    font-weight: 500;
    color: #666
}

.subscribe-box__description {
    font-size: 12px;
    line-height: 14px;
    color: #888
}

.subscribe-box__info {
    width: calc(50% - 20px)
}

.subscribe-box__list {
    list-style: none;
    padding-left: 0;
    margin: 0 0 24px
}

.subscribe-box__list li {
    position: relative;
    padding-left: 32px;
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 24px;
    color: #666
}

.subscribe-box__list li:after {
    content: "";
    position: absolute;
    left: 0;
    top: 4px;
    width: 16px;
    height: 16px;
    background: url("data:image/svg+xml;charset=utf-8,%3Csvg width='18' height='18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 0C4.037 0 0 4.037 0 9s4.037 9 9 9 9-4.037 9-9-4.037-9-9-9zm5.168 7.48l-5.654 5.654c-.24.24-.56.373-.9.373-.34 0-.66-.133-.9-.373l-2.882-2.882c-.24-.24-.373-.56-.373-.9 0-.34.133-.66.373-.9s.56-.373.9-.373c.34 0 .66.133.9.373l1.982 1.982 4.754-4.754c.24-.24.56-.373.9-.373a1.274 1.274 0 01.9 2.173z' fill='%2309C400'/%3E%3C/svg%3E") no-repeat 0 0/cover
}

.subscribe-box__list li .ico {
    top: -2px;
    width: 16px;
    height: 16px
}

.subscribe-box__btn {
    display: block;
    width: 100%;
    background-color: #09c400;
    border-radius: 8px;
    padding: 16px;
    font-size: 22px;
    line-height: 26px;
    font-weight: 500;
    color: #fff
}

.subscribe-box__btn:hover {
    box-shadow: 0 20px 50px -10px rgba(8,24,61,.24)
}

.subscribe-box__btn:active {
    background-color: #08ac00;
    box-shadow: 0 32px 56px -11px rgba(6,12,26,.02)
}

.subscribe-box__sale-text {
    display: inline-block;
    color: #f52f12
}

@media only screen and (max-width: 767px) {
    .subscribe-box {
        flex-direction:column
    }

    .subscribe-box__info,.subscribe-box__prices {
        width: 100%
    }

    .subscribe-box__info {
        margin-top: 40px
    }

    .subscribe-box__list li .ico {
        top: -1px;
        width: 14px;
        height: 14px
    }
}

@media only screen and (max-width: 499px) {
    .subscribe-box {
        padding:40px 16px 16px
    }
}

.subscribe-switcher {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 160px;
    max-width: 100%;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 28px;
    margin: 8px auto 16px;
    padding: 3px
}

.subscribe-switcher__item {
    width: calc(50% - 2px);
    padding: 4px;
    font-weight: 500;
    line-height: 17px;
    color: #346df1;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer
}

.subscribe-switcher__item.active {
    background-color: #346df1;
    color: #fff;
    border-radius: 28px
}

.block-demo {
    display: flex;
    margin-top: 30px;
    border-radius: 8px;
    padding: 18px 10px 18px 48px;
    background-color: #fff
}

.block-demo.margin-top-l {
    margin-top: 16px
}

.block-demo__image {
    width: 64px;
    height: 64px;
    margin: auto 32px auto 0
}

.block-demo__content {
    display: inline-block;
    max-width: 490px;
    margin: auto 0;
    padding-top: 1px
}

.block-demo__title {
    font-weight: 500;
    font-size: 16px;
    line-height: 28px
}

.block-demo__text {
    font-weight: 400;
    font-size: 13px;
    line-height: 30px
}

.block-demo__btn {
    background-color: #fff;
    border: 1px solid #09c400;
    color: #09c400;
    display: inline-block;
    float: right;
    height: 36px;
    position: static;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    text-align: center;
    width: 193px;
    padding: 5px;
    margin: auto 37px auto auto
}

@media only screen and (max-width: 1040px) {
    .block-demo {
        padding:18px 16px 13px;
        flex-direction: column
    }

    .block-demo__image {
        height: 32px;
        width: 32px;
        margin-bottom: 19px
    }

    .block-demo__content {
        margin-bottom: 18px
    }

    .block-demo__title {
        line-height: 26px
    }

    .block-demo__text {
        line-height: 22px;
        margin-top: 6px
    }

    .block-demo__btn {
        width: 100%;
        float: none;
        margin-bottom: 5px;
        margin-right: 0
    }
}

@media(max-width: 459px) {
    .block-demo {
        margin-top:20px;
        padding: 13px 16px
    }

    .block-demo__image {
        margin-right: 0;
        height: 32px
    }
}

@media only screen and (max-width: 767px) {
    .block-demo__center,.block-demo__text,.block-demo__title {
        width:100%
    }
}

.untouchable,[data-untouchable] {
    pointer-events: none
}

.unselectable {
    user-select: none
}

.cols-two {
    flex-wrap: wrap
}

.cols-two>* {
    width: 50%
}

.cols-two.cols-centered {
    align-items: center
}

.cols-three {
    list-style: none;
    margin: 0;
    padding: 0
}

.cols-three>* {
    width: 30%;
    padding-right: 3.33%
}

.has-arr {
    position: relative;
    font-weight: 500;
    font-size: 17px;
    line-height: 31px
}

.has-arr .arr {
    margin-left: 7px;
    display: inline-block;
    vertical-align: middle;
    width: 12px;
    height: 2px;
    background: currentColor;
    position: relative;
    top: 10px;
    position: absolute
}

.has-arr .arr,.has-arr .arr:after,.has-arr .arr:before {
    height: 2px;
    background: currentColor;
    border-radius: 2px
}

.has-arr .arr:after,.has-arr .arr:before {
    content: "";
    width: 6px;
    position: absolute;
    right: 0
}

.has-arr .arr:after {
    transform: rotate(45deg);
    bottom: 2px
}

.has-arr .arr:before {
    transform: rotate(-45deg);
    top: 2px
}

.nowrap {
    white-space: nowrap
}

.no-nowrap {
    white-space: normal
}

.word-space-inline {
    word-spacing: -4px
}

.relative,.show-more-trigger.has-triangle {
    position: relative
}

.show-more-trigger.has-triangle:after {
    content: "▼";
    display: inline-block;
    vertical-align: top;
    position: relative;
    top: .1em;
    left: .02em;
    transform: scaleX(1.4) scaleY(.8);
    transform-origin: left;
    font-size: .7em
}

[data-toggle-name] {
    transition: height .2s ease-out,opacity .3s ease-in;
    opacity: 1
}

[data-toggle-name]:not(.active) {
    overflow: hidden;
    opacity: 0
}

.float-l,.float-r {
    float: right
}

.box-form,.gasket .faq-block,.gasket .features-list .feature-block,.white-box {
    background: #fff;
    border-radius: 8px
}

.box-form {
    padding: 24px;
    box-shadow: 0 32px 50px 2px rgba(0,0,0,.08);
    margin: 0 0 64px
}

.has-label[data-label] {
    position: relative
}

.has-label[data-label]:after {
    position: absolute;
    display: inline-flex;
    align-items: center;
    right: -8px;
    top: -6px;
    background: #09c400;
    border-radius: 7px;
    padding: 1px 4px 3px;
    content: attr(data-label);
    font-weight: 500;
    font-size: 12px;
    line-height: 9px;
    color: #f9f9f9
}

.has-label[data-label][data-label-type=warning]:after,.has-label[data-label][data-label-warning=true]:after {
    background: #f8b200
}

.has-label[data-label][data-label-alert=true]:after,.has-label[data-label][data-label-type=negative]:after {
    background: #f52f12
}

.has-label[data-label][data-label-pos=right]:after {
    position: relative;
    margin: 0 0 0 8px;
    padding: 2.5px 5px 3.5px;
    top: -3px;
    right: 0
}

.has-label[data-label][data-label-pos=left]:after {
    display: none
}

.has-label[data-label][data-label-pos=left]:before {
    position: relative;
    right: 0;
    top: -1px;
    background: #09c400;
    border-radius: 7px;
    padding: 0 4px 1px;
    margin: 0 8px 0 0;
    content: attr(data-label);
    font-weight: 500;
    font-size: 12px;
    line-height: 9px;
    color: #f9f9f9
}

.company-btns .has-label.btn:after {
    padding: 3px 4px;
    right: 10px;
    top: 6px
}

.company-btns .has-label.btn .big {
    padding-right: 56px
}

.btn-white:hover .ico {
    color: #fff
}

.btn-secondary {
    font-size: 16px;
    font-weight: 500;
    line-height: 100%;
    color: #346df1;
    border-radius: 4px;
    border: 1px solid #ccc;
    transition: .3s
}

.btn-secondary:hover {
    border-color: #aaa
}

.btn-secondary:focus {
    border-color: #888;
    background: #fafafa
}

.btn-secondary:disabled {
    border-color: #ccc;
    color: #888
}

.icon-white:hover span:before,.icon-white span:before {
    color: #fff
}

.table .valign-middle {
    vertical-align: middle
}

.mini-list {
    list-style-type: none
}

.mini-list li {
    position: relative
}

.mini-list li:before {
    content: "●";
    font-size: 6px;
    position: absolute;
    left: -11px;
    top: 0
}

.margin-top {
    margin-top: 16px
}

.margin-top-s {
    margin-top: 8px
}

.margin-top-l {
    margin-top: 24px
}

.margin-top-xl {
    margin-top: 32px
}

.margin-bottom {
    margin-bottom: 16px
}

.margin-bottom-s {
    margin-bottom: 8px
}

.margin-bottom-l {
    margin-bottom: 24px
}

.margin-bottom-xl {
    margin-bottom: 32px
}

.margin-left-xs {
    margin-left: 4px
}

.margin-right {
    margin-right: 16px
}

.margin-right-s {
    margin-right: 8px
}

.margin-right-xs {
    margin-right: 4px
}

body .no-margin-top {
    margin-top: 0
}

.ok-single {
    display: block;
    width: 12px;
    height: 18px;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='13' height='9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.055 8.813a.623.623 0 00.867 0l6.89-6.891a.623.623 0 000-.867L11.97.21a.594.594 0 00-.844 0L5.5 5.836 2.852 3.21a.594.594 0 00-.844 0l-.844.844a.623.623 0 000 .867l3.89 3.89z' fill='%23346DF1'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: 50%
}

.illustrate {
    content: "";
    position: absolute
}

.ico-font {
    font-family: icomoon
}

.text-fader {
    z-index: 1;
    margin: 0;
    right: 0;
    height: 20px;
    background: linear-gradient(0deg,#fff 50%,transparent 90%)
}

.img-fader:after,.text-fader {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0
}

.img-fader:after {
    width: 100%;
    height: 50%;
    background: linear-gradient(180deg,hsla(0,0%,97.6%,0),#f9f9f9)
}

.font-rubik {
    font-family: Rubik,icomoon,sans-serif
}

.font-normal {
    font-weight: 400
}

.font-light {
    font-weight: 300
}

.strong {
    font-weight: 500
}

.clear:after {
    display: block;
    clear: both;
    content: ""
}

.cols-three,.cols-two,.flex,.subs .promo-trial__body,.switcher-header {
    display: flex;
    justify-content: space-between
}

.inline-block {
    display: inline-block
}

.switch-list,.unstyled {
    list-style-type: none;
    margin: 0;
    padding: 0
}

.pointer {
    cursor: pointer
}

.hidden,.hidden-item,.hidden-text,.show-sub-mobile {
    display: none
}

@media only screen and (max-width: 424px) {
    .show-sub-mobile {
        display:block
    }

    .hide-sub-mobile {
        display: none
    }
}

.text-align-l {
    text-align: left
}

.text-align-r {
    text-align: right
}

.text-align-c,.text-c {
    text-align: center
}

.text-blue {
    color: #346df1
}

.text-red {
    color: #f91d0a
}

.text-green {
    color: #09c400
}

.text-orange {
    color: #d97d0d
}

.text-gray {
    color: grey
}

.text-darkest-grey {
    color: #666
}

.text-positive {
    color: #09c400
}

.text-warning {
    color: #f8b200
}

.text-negative {
    color: #f52f12
}

.button-blue {
    background-color: #346df1;
    border-color: #346df1
}

.button-green {
    background-color: #09c400;
    border-color: #09c400
}

.button-red {
    background-color: #f91d0a;
    border-color: #f91d0a
}

.align-center {
    text-align: center
}

.bg-blue {
    background: #346df1
}

.bg-white {
    background: #fff
}

.bg-green {
    background: #09c400
}

.bg-grey {
    background: #ccc
}

.bg-greyDarker {
    background: #888
}

.bg-accent {
    background: #fafafa
}

.bg-accent-alt {
    background: #f1f1f1
}

.bg-l-green {
    background: #dcfcda
}

.bg-lighter-grey {
    background: #f1f1f1
}

.bg-alert {
    background: #feeae7
}

.bg-positive {
    background-color: #09c400
}

.bg-warning {
    background-color: #f8b200
}

.bg-negative {
    background-color: #f52f12
}

.stylled-scroll::-webkit-scrollbar {
    width: 4px
}

.stylled-scroll::-webkit-scrollbar:hover {
    width: 1em
}

.stylled-scroll::-webkit-scrollbar-thumb {
    border-right: 4px solid #78848a
}

.hidden-scroll::-webkit-scrollbar {
    width: 0
}

.a-pseudo,.show-more-trigger {
    cursor: pointer;
    color: #346df1;
    text-decoration: none
}

.a-pseudo:hover,.show-more-trigger:hover {
    color: #1143b8
}

.link-fullSize {
    cursor: pointer;
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    text-indent: -10000px
}

.link-black,.links-all-black a {
    color: #000
}

.link-black:hover,.links-all-black a:hover {
    color: #346df1;
    text-decoration: none
}

.link-grey,.links-all-grey a {
    color: #888
}

.link-grey:hover,.links-all-grey a:hover {
    color: #666
}

.links-underline a,.links-underline a:hover {
    text-decoration: underline
}

.dashed {
    text-decoration: none;
    border-bottom: 1px dashed
}

.dashed:hover {
    color: #5d8af4
}

.display-inline-block {
    display: inline-block
}

.overflow-visible {
    overflow: visible
}

.overflow-hidden {
    overflow: hidden
}

.show-more-small {
    height: 10px;
    width: 6px;
    margin: 0 5px 0 2px
}

.show-more-small svg {
    transform: rotate(90Deg)
}

.switcher-header {
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0 -16px 16px;
    padding: 1px 16px 0;
    border-bottom: 1px solid #e3e3e3
}

.switcher-header .content-frame__title {
    margin-right: 40px
}

.switcher-header .switch-list {
    font-size: 18px;
    line-height: 24px
}

.switcher-header .switch-list span {
    color: #346df1
}

.switcher-header .switch-list a,.switcher-header .switch-list span {
    margin: 1px 16px -1px 0;
    display: inline-block;
    padding: 0 16px 12px;
    border-bottom: 3px solid transparent;
    transition: border-bottom-color .2s ease-out
}

.switcher-header .switch-list a:hover,.switcher-header .switch-list span {
    text-decoration: none;
    border-bottom-color: #346df1
}

.switch-list {
    display: flex
}

.switch-list-text {
    display: inline-block;
    margin: 0 6px 0 0;
    line-height: 29px
}

.switch-list .btn {
    color: #346df1;
    padding: 4px 5px 3px;
    margin: 0 8px;
    border: 1px solid transparent
}

.switch-list .btn.active {
    border-color: #346df1
}

@media only screen and (max-width: 767px) {
    .switcher-header {
        display:block;
        margin-bottom: 32px
    }

    .switcher-header .switch-list {
        margin: 22px -16px -1px 0;
        font-size: 16px;
        line-height: 20px
    }

    .switcher-header .switch-list a,.switcher-header .switch-list span {
        padding: 0 16px 9px;
        margin-right: 0
    }

    .switcher-header .switch-list li:last-child {
        overflow: hidden
    }

    .switcher-header .switch-list li:last-child a,.switcher-header .switch-list li:last-child span {
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin: 1px 16px 0 0
    }
}

.subs .subscribe-box__price,.subs .subscribe-box__price.no-strafe {
    padding-right: 0
}

.subs .subs-box-has-switcher {
    position: relative
}

@media(max-width: 1119px) {
    .subs .subscribe-box__price {
        margin-top:0;
        font-size: 48px;
        line-height: 57px;
        margin-bottom: 3px
    }

    .subs .subscribe-box__sale-text {
        display: block
    }
}

.subs .title {
    font-size: 28px;
    line-height: 33.18px;
    margin: 0 0 32px;
    color: #3e3467;
    font-weight: 500
}

@media(max-width: 1119px) {
    .subs .title {
        font-size:22px;
        line-height: 26px
    }
}

@media only screen and (max-width: 767px) {
    .subs .title {
        font-size:18px;
        line-height: 21px;
        margin-top: 32px;
        margin-bottom: 24px
    }
}

.subs .fadeIn {
    opacity: 0;
    transition: opacity 1s ease-in
}

.subs .fade-enter-active,.subs .fade-enter-from {
    transition: opacity .5s ease
}

.subs .fade-enter-from,.subs .fade-leave-to {
    opacity: 0
}

.subs .inp-number input {
    border: 1px solid #dfe1e5
}

.subs .inp-number div {
    background-color: #346df1;
    color: #fff;
    border: 0
}

.subs .inp-number div:hover {
    background-color: #487cf2
}

.subs .inp-number div.disabled {
    cursor: default
}

.subs .inp-number div.disabled,.subs .inp-number div.disabled:hover {
    background: #f5f5f6;
    color: #346df1
}

.subs .descr {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #787878;
    margin-top: 24px;
    margin-bottom: 0
}

.subs-tariff-card-ul {
    text-align: left
}

.subs-tariff-card-ul strong {
    font-weight: 500
}

.subs-tariff-card-ul .price {
    font-size: 48px;
    line-height: 57px
}

.subs-tariff-card-ul .subs-body {
    color: #35383b;
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 16px;
    line-height: 24px;
    justify-content: center;
    width: 100%;
    height: 130px;
    align-items: start;
    text-align: left
}

.subs-tariff-card-ul .ul-subscribe-qty {
    margin-bottom: 79px
}

@media(max-width: 1119px) {
    .subs-tariff-card-ul .ul-subscribe-qty {
        display:block
    }
}

@media only screen and (max-width: 767px) {
    .subs-tariff-card-ul .ul-subscribe-qty {
        margin-bottom:32px
    }

    .subs-tariff-card-ul .ul-subscribe-qty .inp-number {
        margin-top: 12px
    }
}

.subs .switcher {
    display: flex;
    position: absolute;
    left: 0;
    bottom: 100%
}

.subs .switcher:after {
    position: absolute;
    top: 100%;
    left: 0;
    width: 4px;
    height: 4px;
    background: #fff;
    content: ""
}

.subs .switcher span {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    user-select: none;
    cursor: pointer;
    color: #346df1;
    background: #f8f8f8;
    padding: 8px 24px;
    font-size: 20px;
    line-height: 23.7px;
    font-weight: 500;
    border-radius: 8px 8px 0 0
}

.subs .switcher span.active {
    cursor: default
}

@media(max-width: 1119px) {
    .subs .switcher span {
        font-size:18px;
        line-height: 21px
    }
}

@media only screen and (max-width: 767px) {
    .subs .switcher span {
        font-size:14px;
        line-height: 17px;
        padding: 8px 16px
    }
}

.subs .switcher span.active {
    background: #fff
}

.subs .switcher span+span {
    margin-left: 8px
}

.subscribe-tariffs .subs-description {
    margin-bottom: 40px;
    color: #3e3467;
    max-width: 90%
}

@media(max-width: 1119px) {
    .subscribe-tariffs .subs-description {
        max-width:100%
    }
}

@media only screen and (max-width: 767px) {
    .subscribe-tariffs .subs-description {
        margin-bottom:24px
    }
}

.subscribe-tariffs__block {
    display: flex;
    gap: 32px
}

@media only screen and (max-width: 767px) {
    .subscribe-tariffs__block {
        flex-wrap:wrap
    }
}

.subscribe-tariffs .descr {
    color: #666
}

@media only screen and (max-width: 767px) {
    .subscribe-tariffs .descr {
        margin:16px 0 40px
    }
}

.subscribe-tariffs .descr a {
    color: #666;
    text-decoration: underline;
    transition: color .3s
}

.subscribe-tariffs .descr a:hover {
    color: #346df1
}

.subscribe-tariffs .subscribe-box__list li {
    padding-left: 24px
}

.subscribe-tariffs .subscribe-box__btn {
    font-size: 20px
}

.subscribe-tariffs .subs .descr {
    margin-top: 16px
}

.subscribe-switcher--extended.subscribe-switcher__wrapper {
    display: flex;
    align-items: center;
    padding: 8px 8px 8px 16px;
    width: fit-content;
    border-radius: 8px;
    background: #fff;
    margin-bottom: 32px
}

@media only screen and (max-width: 767px) {
    .subscribe-switcher--extended.subscribe-switcher__wrapper {
        margin-bottom:16px
    }
}

.subscribe-switcher--extended.subscribe-switcher-bordered {
    border-radius: 8px;
    border: 1px solid #e3e3e3
}

.subscribe-switcher--extended .subscribe-switcher {
    margin: 0;
    border: none;
    padding: 0;
    width: fit-content
}

.subscribe-switcher--extended .subscribe-switcher__label {
    color: #666;
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    padding-right: 8px
}

.subscribe-switcher--extended .subscribe-switcher__item {
    padding: 8px 16px;
    width: fit-content;
    transition: .3s
}

.subscribe-switcher--extended .subscribe-switcher__item:first-of-type {
    margin-right: 2px
}

.subscribe-switcher--extended .subscribe-switcher__item.active {
    border-radius: 4px;
    background: #346df1
}

.subscribe-tariffs__block {
    max-width: 974px
}

@media only screen and (max-width: 767px) {
    .subscribe-tariffs__block {
        gap:16px
    }
}

.subscribe-tariffs__block .subscribe-box {
    flex-direction: column;
    flex: 1 1 50%;
    justify-content: space-between;
    padding: 32px
}

@media(max-width: 1119px) {
    .subscribe-tariffs__block .subscribe-box {
        flex:1 1 100%
    }
}

@media only screen and (max-width: 767px) {
    .subscribe-tariffs__block .subscribe-box {
        padding:16px;
        margin-bottom: 0
    }
}

@media only screen and (max-width: 499px) {
    .subscribe-tariffs__block .subscribe-box {
        border:1px solid #e3e3e3
    }
}

.subscribe-tariffs__block .subscribe-box__title {
    color: #0c1c60;
    font-size: 22px;
    font-weight: 600;
    line-height: 30px;
    margin-bottom: 0;
    min-height: 92px
}

@media only screen and (max-width: 767px) {
    .subscribe-tariffs__block .subscribe-box__title {
        min-height:auto;
        font-weight: 500;
        font-size: 18px;
        margin-bottom: 24px;
        line-height: 24px
    }
}

.subscribe-tariffs__block .subscribe-box__prices {
    width: 100%
}

.subscribe-tariffs__block .subscribe-box__price {
    margin: 0 0 32px;
    text-align: left;
    line-height: 100%
}

@media only screen and (max-width: 767px) {
    .subscribe-tariffs__block .subscribe-box__price {
        margin-bottom:24px
    }
}

.subscribe-tariffs__block .subscribe-box__price-description {
    margin-right: 9px;
    vertical-align: bottom
}

.subscribe-tariffs__block .subscribe-box__item {
    margin: 0 0 32px;
    align-items: center;
    width: 100%;
    text-align: left
}

@media only screen and (max-width: 767px) {
    .subscribe-tariffs__block .subscribe-box__item {
        margin-bottom:24px
    }
}

.subscribe-tariffs__block .subscribe-box__price {
    font-size: 32px;
    margin: 0
}

@media(max-width: 1119px) {
    .subscribe-tariffs__block .subscribe-box__list br {
        display:none
    }
}

.subscribe-tariffs__block .subscribe-box__sale {
    margin-top: 8px;
    padding: 4px 8px;
    border-radius: 4px;
    background: #feeae7;
    font-size: 14px;
    line-height: 1;
    color: #f91d0a;
    display: inline-block;
    vertical-align: top
}

.subscribe-tariffs__block .subscribe-box__info {
    margin-left: 0;
    width: auto
}

@media(max-width: 1119px) {
    .subscribe-tariffs__block .subscribe-box__info {
        margin-top:0
    }
}

.subscribe-tariffs__block .subscribe-box__list {
    margin-bottom: 32px
}

@media only screen and (max-width: 767px) {
    .subscribe-tariffs__block .subscribe-box__list {
        margin-bottom:24px
    }
}

.subscribe-tariffs__block .subscribe-box__list li {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 12px;
    padding-left: 24px
}

.subscribe-tariffs__block .subscribe-box__list li:after {
    margin-top: 0;
    top: 1px
}

@media only screen and (max-width: 767px) {
    .subscribe-tariffs__block .subscribe-box__example {
        display:block;
        margin-top: 10px
    }
}

.subscribe-tariffs__block .subscribe-box__btn--more {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 58px;
    border-radius: 8px;
    border: 1px solid var(--gray,#ccc);
    padding: 10px 16px;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 100%;
    color: #346df1;
    margin-bottom: 16px;
    margin-top: 34px
}

.subscribe-tariffs__block .subscribe-box__btn--more:hover {
    text-decoration: none;
    border-color: #aaa;
    background: #fafafa
}

.subscribe-tariffs__block .subscribe-box__btn--more:active {
    border-color: #888;
    background: #fafafa
}

.subscribe-tariffs__block .subscribe-box__btn--more:focus {
    border-color: #346df1;
    text-decoration: none
}

@media only screen and (max-width: 767px) {
    .subscribe-tariffs__block .subscribe-box__btn--more {
        margin-top:24px;
        margin-bottom: 12px
    }
}

.subscribe-tariffs__block .subscribe-box__btn,.subscribe-tariffs__block .subscribe-box__btn--more {
    transition: .3s;
    line-height: 24px
}

@media only screen and (max-width: 767px) {
    .subscribe-tariffs__block .subscribe-box__btn,.subscribe-tariffs__block .subscribe-box__btn--more {
        padding:10px 16px;
        height: 36px;
        font-size: 16px;
        line-height: 1;
        border-radius: 4px
    }
}

.subscribe-tariffs__block .subscribe-box__btn:hover {
    box-shadow: none;
    background: #22ca1a
}

.subscribe-tariffs__block .subscribe-box__btn:focus {
    box-shadow: 0 0 0 2px #bcddff
}

.subscribe-tariffs__block .subscribe-box__btn:active {
    border-radius: 8px;
    background: linear-gradient(0deg,rgba(0,0,0,.1),rgba(0,0,0,.1)),#09c400
}

.subscribe-tariffs__block+.descr {
    margin-top: 16px;
    line-height: 18px
}

@media only screen and (max-width: 767px) {
    .subscribe-tariffs__block+.descr {
        margin:8px 0 16px
    }
}

@media only screen and (max-width: 1023px) {
    .lk-subsribe .subscribe-tariffs__block {
        flex-wrap:wrap
    }

    .lk-subsribe .subscribe-tariffs__block .subscribe-box__title {
        margin-bottom: 24px;
        min-height: 0
    }

    .lk-subsribe .subscribe-tariffs__block .subscribe-box {
        margin-bottom: 0
    }
}

.info-page.subsvar {
    background-color: #f1f1f1
}

.subs .relink {
    margin-bottom: 40px
}

@media only screen and (max-width: 767px) {
    .subs .relink {
        margin-top:20px;
        margin-bottom: 34px
    }
}

.subs-header {
    font-size: 36px;
    line-height: 44px;
    font-weight: 500;
    margin: 40px 0 16px;
    color: #3e3467
}

.subs-header-two {
    font-size: 32px;
    line-height: 49px;
    margin: 70px 0 50px
}

.subs-description {
    color: #59536f;
    font-size: 18px;
    line-height: 24px;
    margin: 16px 0 48px
}

@media(max-width: 1119px) {
    .subs-header {
        font-size:34px;
        line-height: 40px;
        font-weight: 500;
        margin: 24px 0 32px
    }

    .subs-header-two {
        font-size: 24px;
        margin-top: 76px;
        margin-bottom: 36px
    }

    .subs-description {
        font-size: 16px;
        line-height: 24px
    }
}

@media only screen and (max-width: 767px) {
    .subs-header {
        font-size:24px;
        line-height: 32px;
        margin-top: 0;
        margin-bottom: 16px
    }

    .subs-header-two {
        margin: 40px 0 24px;
        font-size: 20px;
        line-height: 49px
    }

    .subs-description {
        line-height: 22px;
        margin-bottom: 24px
    }
}

@media(max-width: 459px) {
    .subs-description br {
        display:none
    }
}

.subs .promo-trial {
    background: linear-gradient(180deg,#ea18b0,#346df1 101.69%);
    border-radius: 8px;
    padding: 2px;
    color: #666;
    font-size: 16px;
    line-height: 24px;
    margin: 0 0 32px
}

.subs .promo-trial__body {
    align-items: center;
    padding: 30px 38px;
    border-radius: 6px;
    background: #fff
}

.subs .promo-trial svg {
    min-width: 48px;
    vertical-align: top
}

.subs .promo-trial__middle {
    margin: 0 40px;
    width: 100%
}

.subs .promo-trial .page-title-h5 {
    margin: 0 0 4px;
    font-size: 18px;
    line-height: 24px
}

.subs .promo-trial .btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    padding: 12px 32px
}

@media only screen and (max-width: 1023px) {
    .subs .promo-trial {
        text-align:center
    }

    .subs .promo-trial__body {
        display: block
    }

    .subs .promo-trial__middle {
        margin: 24px 0
    }
}

@media only screen and (max-width: 767px) {
    .subs .promo-trial {
        margin-bottom:16px
    }

    .subs .promo-trial__middle {
        margin: 28px 0 24px
    }
}

@media(max-width: 459px) {
    .subs .promo-trial__body {
        padding:24px 16px 14px
    }

    .subs .promo-trial .page-title-h5 {
        margin: 0 0 16px
    }

    .subs .promo-trial .btn {
        width: 100%
    }
}

.subscribe-box__price {
    margin-top: 45px
}
